<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aki.javaq">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Community.CommunityListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".Quiz.QuizResultActivity" />
        <activity android:name=".Progress.ProgressActivity" />
        <activity android:name=".Community.CommunityAddCommentActivity" />
        <activity
            android:name=".Community.CommunityDetailActivity"
            android:label="@string/title_activity_community_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Community.CommunityPostActivity"
            android:label="@string/title_activity_community_post" />
        <activity android:name="UserRegistrationActivity" />

    </application>

</manifest>