<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aki.javaq">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentation.Community.CommunityListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="friendlychat.firebase.google.com"
                    android:scheme="http"
                    android:pathPrefix="/message"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".Presentation.UserRegistrationActivity"/>
        <activity android:name=".Presentation.Quiz.QuizActivity" />
        <activity android:name=".Presentation.Quiz.QuizResultActivity" />
        <activity android:name=".Presentation.Quiz.QuizSectionActivity" />
        <activity android:name=".Presentation.Progress.ProgressActivity" />
        <activity android:name=".Presentation.Community.CommunityAddCommentActivity" />
        <activity android:name=".Presentation.Setting.SettingListActivity" />
        <activity android:name=".Presentation.Community.CommunityPostActivity" />
        <activity android:name=".Presentation.Community.CommunityDetailActivity" />
        <activity android:name=".Presentation.UserRegistrationActivity" />

    </application>

</manifest>